@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@keyframes transition {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
}

html {
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

html {
    width: 100vw;
    height: 100vh;
}
body{
    animation: transition 0.75s ease-in-out 1;
}

.hidden {
    display: none;
}

.header2 {
    display: none;
    height: 70px;
    width: 100vw;
}

.hamburguerSection {
    width: 100vw;
    background-color:  white ;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    opacity: 60%;
}

.hamburguerIcon {
    margin-right: 32px;
    width: 36px;
    opacity: 100%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.home{
    margin-top: -70px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('utilities/images/monkeyBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homeSection {
    padding: 20% 15% 20% 15%;
}

.textConteiner {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#servicos{
    background-image: url('utilities/images/cbumMG.jpg'), url('utilities/images/MirandaMG.jpg');
    background-size: 50%,50%;
    background-repeat: no-repeat, no-repeat;
    background-position: left 1px , right ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.cards{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.mensal {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

.mensal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    opacity: 100;
    
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardText{
    color: white;
    font-size: 1.25rem;
    justify-content: space-evenly;

}

.tituloCard{
    padding: 12px;
    color: white;
    font-size: 1.5rem;
}

.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
}

.cardTextInside{
    font-size: 1.05rem;
    color: rgb(255, 255, 255);
    opacity: 90%;
}
    
.mensal{
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
    -webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

.trimestral{
    width: 300px;
    height: 520px;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
}

.semestral{
    width: 300px;
    height: 520px;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
}
    



header{
  background-color: white;
  width: 100vw;
}

.navbarContent{
    opacity: 60%;
    width: 100vw;
    background-color:  white ;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.nav-imagem{
    width: 50px;
    height: 50px;
}

.navbar-links{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
}

.navbar-links ul {
    
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    width: 100%;
}
.navbar-links li{
 display: inline;   
}

.nav-links {
    color: black;
    display: inline-block;
    font-size: 0.95rem;
    margin-left: 4px;
    text-decoration: none;
    transition: background .4s;
}

h1{
    font-size: 2.45rem;
    font-weight: 900;
}

.textTitle {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 3rem;
}

.textHome {
    display: flex;
    text-align: center;
    font-size: 1rem;
    color: #ffff;
}

.textButton {
    margin-top: 8px;
    font-weight: 800;
    width: 37vw;
    min-width: 140px;
    height: 9vh;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.textButton:hover {
   color: gray;
}

.textButton::before {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

 #secao-orcamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

#secao-orcamento form{
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-items: start;
    background-color: #FFF9; 
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.secao-orcamento-rows {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-price {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 8px;
}

.qtd-input {
    width: 30%;
    display: flex;
    text-align: end;
}

.budgetSection {
    display: flex;
    flex-direction: column;
}

.budgetTitle{
    background-color: #6a3093;
    color: white;
    width: 50%;
    padding: 16px;
    border-radius: 10px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rrrem;
    align-items: center;
}

#secao-orcamento form output{
    grid-column: 2;
}
@media (max-device-width: 1690px){
    #servicos {
        background-image: url('utilities/images/MirandaMG.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
}

@media (max-device-width: 950px){
    /* Mobile */
    .hidden {
        display: none;
    }

    .header2 {
        display: block;
    }

    .navbarContent {
        opacity: 100%;
        border-radius: 30px;
        width: 60vw;
        height: 60vh;
        background-color:  white ;
        position: fixed;
        top: 20%;
        right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 999;
    }

    .navbar-links {
        height: 20vh;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0px
    }

    .nav-links {
        font-size: 1.5rem ;
    }

    #servicos {
        background-position: center;
    }
    .cards {
        flex-direction: column;
    }

    .mensal {
        padding: 16px;
        margin-top: 24px;
        width: 80vw;
        height: 26vh;
    }
}

@media (max-device-width: 290px) {
    html {
        font-size: 12px;
    }
}