@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@keyframes transition {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: bor;
}

body{
    animation: transition 0.75s ease-in-out 1;
}

.home{ 
margin-top: 60px;
height: 100vh;
background-image: url('utilities/images/monkeyBg.jpg');
background-size: cover;
background-repeat: no-repeat;

}

#servicos{
    background-image: url('utilities/images/cbumMG.jpg'), url('utilities/images/MirandaMG.jpg');
    background-size: 50%,50%;
    background-repeat: no-repeat, no-repeat;
    background-position: left 1px , right ;
    display: flex;
    height: 100vh;
    
}

.cards{
    display: flex;
    gap: 100px;
    margin-top: 30vh;
    margin-left: 236px;


}
.mensal {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

.mensal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    opacity: 100;
    
}




.cardText{
    color: white;
    font-size: 20px;
    justify-content: space-evenly;
    margin: 10px 10px 10px 50px;
}
#tituloCard{
    color: white;
    font-size: 1.5rem;
    
}

.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color:white;
    font-weight: bold;
    margin: 60px 0px 0px;
}

.cardTextInside{
    font-size: 18px;
    position: absolute;
    margin: 10px 10px 10px ;
    color: rgb(255, 255, 255);
    opacity: 90%;
}
    
.mensal{
    
    width: 300px;
    height: 520px;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
    -webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

.aaa{
    padding: 40px;
}

.cardPrecos{
    padding-top: 200px;
    padding-left: 50px  ;
}


.trimestral{
   
    width: 300px;
    height: 520px;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
}

.semestral{
    width: 300px;
    height: 520px;
    background-color: gray;
    opacity: 80%;
    border-radius: 30px;
}
    



header{
  background-color: white;
  width: 100vw;
  opacity: 60%;
  
}

nav{
    width: 100vw;
    background-color:  white ;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.imagem{
    padding: 8px 8px 8px 8px;
    width: 50px;
    height: 50px;
}

.imagem img{
    width: 100%;
    height: 100%;
}

#menu{
    height: 60px;
}

#menu ul {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu li{
 display: inline;   
}

#menu a {
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

h1{
    font-size: 50px;
    font-weight: 900;
}

#titleM{
    padding: 50px 10px;  
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 48px;
    margin-left: 100px;
}

.texto_home{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #ffff;
    position: absolute;
    top: 50%;
    text-shadow: blur-radius;
    text-shadow: 
               -1px -1px 0px #000000, 
               -1px 1px 0px #000000,                    
                1px -1px 0px #000000,                  
                1px 0px 0px #000000;
}

#btn_1{
    margin: 600px 0px 20px 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
#btn_1:hover{
   color: gray;
}
#btn_1::before{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

 #secao-orcamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

#secao-orcamento form{
    display: flex;
    flex-direction: column;
    justify-items: start;
    background-color: #FFF9; 
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 4rem;
}

.secao-orcamento-rows {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-price {
    font-weight: bold;
    font-size: 32px;
    margin-top: 8px;
}

.qtd-input {
    width: 30%;
    display: flex;
    text-align: end;
}

#secao-orcamento form h3{
    background-color: #6a3093;
    color: var(--text-primary);
    position: absolute;
    top: -10%;
    left: 5%;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

#secao-orcamento form output{
    grid-column: 2;
}